
	/*body{
		color: #333;
		font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	}*/


/*--------------MENU-----------*/
.dropdownmenu{
  margin-left:30%;
  position:fixed;
  top:0;
  z-index: 4;
}

.dropdownmenu ul, .dropdownmenu li {
  padding: 0;
  margin: 0;
}
.dropdownmenu ul {
	background: gray;
	list-style: none;
	width:auto;
}
.dropdownmenu li {
	float: left;
	width:auto;
}
.dropdownmenu a {
	background: #30A6E6;
	color: #FFFFFF;
	display: block;
	font: bold 12px/20px sans-serif;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.dropdownmenu li:hover a {
	background: #000000;
}
#submenu {
  margin-left:0px;
	opacity: 0;
	position: absolute;
	top: 35px;
	visibility: hidden;
	z-index: 1;
}
li:hover ul#submenu {
	opacity: 1;
	top: 40px;	/* adjust this as per top nav padding top & bottom comes */
	visibility: visible;
}
#submenu li {
	float: none;
	width: auto;
}
#submenu a:hover {
	background: #DF4B05;
}
#submenu a {
	background-color:#000000;
}

/*------------CORPO------------------*/


.corpo0{
	position: absolute;
  	margin-bottom:5%;
  	left:10%;
	width: 80%;
	height: 85%;
	background-color:#000000;
	opacity:0.8;
}
.corpo0 h1{
	color:#fff;
	text-align:center;
  	font-family: "Times New Roman", Times, serif;
}
.texto{
	position:relative;
	width: 50%;
}
.texto p{
	color:#fff;
	text-align:justify;
  	font-family: verdana;
	font-size:18px;
	 margin-left:2%;
}
.corpo0 img{
	position: relative;
	float: right;
	margin-right: 5%;
	top:0;
	opacity: 1;
}
.texto1 p{
	color:#fff;
	text-align:justify;
  	font-family: verdana;
	font-size:14px;
	 margin-left:2%;
}